
# Binaries
./Bin/Engine
./Bin/Editor


# Build
./Build/Engine
./Build/Editor


# Visual Studio
.vs/
VisualSolutions/


# Idea
.idea/
cmake-*/

# Visual Studio Code
.vscode/
*.code-workspace


# .NET
*.DotSettings.user
obj/
bin/
